.homeContainer{
    padding: 0.5em;
    text-align: center;
    justify-content: center;
}
.firstButtonHome{
    margin-top: 10em;
}
.buttonHome{
    margin-top: 2em;
}
.calendarContainer{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}